# Editor
.idea
.gigaide
.cursorrules
.vscode/*
!.vscode/settings.json

# Laravel
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Dependencies
**/node_modules
**/vendor
**/package-lock.json
**/yarn.lock
**/composer.lock

# Logs
**/logs
**/*.log

# Backup
.backup

# PNPM
.pnpm-store/

# Build
**/dist
**/build
/public/build
/public/mix-manifest.json

# Temp
**/tmp
**/temp

# Test
**/coverage
/.phpunit.cache

# Misc
.DS_Store
Thumbs.db

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.backup
.env.production

# Turbo
.turbo

# Secrets
**/*.key
**/api.json

# Uploads
**/uploads

# Compressed
**/*.tgz

# Local History for Visual Studio Code
.history/

# Keys and Certificates
*.key
*.keys
*.priv
*.rsa
*.key.json
*.ssh
*.ssh-key
.key-mrc
*.ca
*.crt
*.csr
*.der
*.kdb
*.org
*.p12
*.pem
*.rnd
*.ssleay
*.smime
*.vsix

# Laravel Bootstrap Cache
/bootstrap/cache/*.php

# Laravel Passport
/storage/oauth-private.key
/storage/oauth-public.key
